{% extends 'template.html' %}
{% block content %}
<div class="row">
    {% if word == None %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
            <div class="text-center">
                <form method="POST" action="/soc_term_project/rest_api_print">
                    <h2> REST API 내용 출력 </h2>
                    <h3>원하는 검색어를 입력해주세요.<br><br></h3>
                    <div class="text-center">
                        <b>검색어          </b><input type="text" name="search_word">
                        <b>페이지 번호     </b><input type="text" name="index">
                    </div>
                    <button type="submit">확인</button>
                </form>
            </div>
    </div>
    {% else %}
        <pre> {{ resource }} </pre>
    {% endif %}
</div>

{% endblock %}