{% extends 'template.html' %}
{% block content %}
<div class="row">
    {% if word == None %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
            <div class="text-center">
                <form method="POST" action="/soc_term_project/rest_api_print">
                    <h2> REST API 내용 출력 </h2>
                    <h3>원하는 검색어를 입력해주세요.<br><br></h3>
                        <p><tr class="text-center">
                            <td>검색어</td> <td><input type="text" name="search_word" style="width:300px"></td>
                            <td>페이지 번호</td> <td><input type="text" name="index" style="width:50px; margin-right: 5px"></td>
                        </tr></p>
                        <button type="submit" class="text-center">확인</button>
                </form>
            </div>
    </div>
    <div class="col-md-3"></div>
    {% else %}
        <pre> {{ resource }} </pre>
    {% endif %}
</div>

{% endblock %}