{% extends 'template.html' %}
{% block content %}

<h3>Service-Oriented Computing Term Project<br></h3>
<h3>9조 - 원주혜, 이연경<br><br></h3>

<h4>프로젝트 목적 - REST API 기반의 웹 서비스 구현하기<br></h4>

<ol style="margin-top: 30px ">
    <li><h5>개발 내용</h5></li>
    여러 사이트의 학술 정보를 한 번에 볼 수 있는 학술 정보 통합 검색 서비스

    <li style="margin-top: 30px "><h5>사용된 정보</h5></li>
    <ul>
        <li>Google의 검색 결과 - 텍스트 기반 정보</li>
        <li>Youtube의 검색 결과 - 동영상 기반 정보</li>
        <li>Dbpia의 검색 결과 - 학술논문 기반 정보</li>
        <li>KOCW의 검색 결과 - 강의 기반 정보</li>
    </ul>
    <li style="margin-top: 30px "><h5><a href="https://github.com/wonjuhye/soc_termproject">Github 바로가기</a></h5></li>
</ol>

{% endblock %}